# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**
- List popular languages for Data Science
- List popular package
- DS tools
- Learn Markdown
- Try coding

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciPY

|Data Science Tools|
|:-|
|Jupyter Notebook|
|RStudio|
|Visual Studio Code (VS Code)|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

In [3]:
200/6

33.333333333333336

## Author
Chris